.navbar {
    position: sticky; 
    top: 0;
    z-index: 100;
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    .logo-container {
      height: 100%;
      width: 70px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .nav-links-container {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .nav-link {
        padding: 10px 15px;
        cursor: pointer;
        text-transform: uppercase;
      }
     .nav-link:hover {
        color: gray;
      }
      .cart-icon-container{
        scale: 1.0;
        transition: 0.4s ease-out;
      }
      .cart-icon-container:hover{
        // background-color: yellow;
        scale: 1.2;
      }
    }
  }
  